{% extends 'base.html' %}
{% load i18n %}

{% block title %}Login - Portfolio Caio Kormives{% endblock %}

{% block style %}
<style>
.{}
.container_parent{max-width: 95%; margin: auto; height: 90.5vh;   color: #008e72;background-color: #e5dac8;}
.card_shdw{max-width: 400px; width: 100%;}
.login{ background-color: white;color:#008e72; border:1px solid #008e72}
.green_color{color: #008e72}
</style>
{% endblock %}

{% block content %}
    <div class=" d-flex flex-column justify-content-center align-items-center p-3 my-3 container_parent" data-aos="fade-up" data-aos-delay="100">
        <div class="card shadow card_shdw">
            <div class="card-header text-center">
                <h3>{% trans 'login' %}</h3>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.email.label_tag }} 
                        {{ form.email }} 
                    </div>
                    <div class="mb-3">
                        {{ form.password.label_tag }} 
                        {{ form.password }}  
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn login" >{% trans 'login' %}</button>
                    </div>
                </form>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="text-center mt-3">
                    <a href="{% url 'register' %}" class="green_color">{% trans "create_account" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
