{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  Feedback & Suggestions - Portfolio
{% endblock %}

{% block style %}
  <style>
    .carousel-item {
      min-height: 80vh;
      display: flex;
      justify-content: center;
      transition: transform 0.8s ease-in-out;
      overflow: hidden;
    }
    .card {
      width: 100%;
      height: 100%;
      max-width: 350px;
    }
    .card-body {
      overflow-y: auto;
      min-height: 55vh;
      max-height: 60vh;
      max-width: 65vh;
      min-width: 37vh;
    }
    @media (max-width: 767px) {
      .feedback-text {
        display: none;
      }
      .feedback-icon {
        display: inline-block;
      }
    }
    @media (min-width: 768px) {
      .feedback-text {
        display: block;
      }
      .feedback-icon {
        display: none;
      }
    }
    @media (max-width: 1200px){
      .feedback-text {
        max-width: 100% !important;

      }
    }
    .head-area {
      padding: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .feedback-text {
      font-family: 'Open Sans', sans-serif;
      color: #315355;
      max-width: 50%;
      margin: 0;
    }
    .feedback-title {
      font-size: 36px;
      color: #315355;
      margin: 0;
    }
    .add-feedback-button {
      border: 1px solid #315355;
      border-radius: 18px;
      padding: 8px 16px;
      background-color: transparent;
      cursor: pointer;
      color: #315355;
    }
    .add-feedback-button:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
    .carousel-control-prev,
    .carousel-control-next {
        border: 2px solid #000;   
        border-radius: 50%;      
        width: 40px;
        height: 40px;              
        display: flex;            
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .parent_container{
      background-color: #e5dac8; 
      max-width: 95%;
       margin: auto;
       height: 90.5vh;
    }
    .color{
      color: #008e72
    }
    .feedback_description{
      font-size: 1.5rem; color: black
    }
    .bold{
      font-weight: bold;
    }
    .form-button-feedback{
      display: none;
    }
    .form_save-button{
      background-color: #315355; 
      color: white;
    }
    .Feedback_carousel{
      min-width: -webkit-fill-available;
    }
    .Feedback_carousel_row{
      justify-content: space-evenly;
      align-items: center;
    }
    .arrows-alignment{
      align-self: center
    }
  </style>
{% endblock %}

{% block content %}
  <div class="parent_container d-flex flex-column justify-content-center align-items-center p-3 my-3">
    <div class="head-area">
      <h1 class="feedback-title mb-2 " style="color: #315355;">{% trans "feedback_title" %}</h1>
      <p class="feedback-text mb-2">{% trans "feedback_description" %}</p>
      <div>
        <i id="feedback-icon" class="fa-sharp fa-regular fa-circle-question feedback-icon d-md-none mr-2 feedback_description mb-2" data-toggle="tooltip" title="{% trans "feedback_description" %}"></i>
        <button class="add-feedback-button bold" data-toggle="modal" data-target="#exampleModalCenter">{% trans "feedback_add_feedback" %} <span>+</span></button>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">
                  {% if user.is_authenticated %}
                    {% trans "feedback_form_head" %}
                  {% else %}
                    Access Restricted
                  {% endif %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                {% if user.is_authenticated %}
                  <form method="post" id="feedback_form_id" action="{% url 'create_feedback' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <button type="submit" class="btn form-button-feedback"  ></button>
                  </form>
                {% else %}
                  <p>{% trans "feedback_form_warning" %}</p>
                {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "feedback_form_close" %}</button>
                {% if user.is_authenticated %}
                  <button type="button"  class="btn form_save-button" id="submitFeedback">{% trans "feedback_form_save" %}</button>
                {% else %}
                  <a href="{% url 'login' %}" class="btn form_save-button">{% trans "feedback_form_login_or_create" %}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="feedbackCarousel" class="carousel slide mb-3 Feedback_carousel" data-ride="carousel" data-interval="false" >
      <div class="carousel-inner">
        {% for feedback_batch in feedback_batches %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="row Feedback_carousel_row" >
              {% for feedback in feedback_batch %}
                <div class="align-items-stretch">
                  <div class="card shadow-sm w-100">
                    <div class="card-body w-100">
                      <h5 class="card-title"><a href="{{ feedback.user.linkedinprofile.linkedin_url }}" class="color" target="_blank">{{ feedback.user.username }}</a></h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{ feedback.date|date:'F j, Y' }}</h6>
                      <h6 class="card-subtitle mb-2 text-muted">{{ feedback.type }}:</h6>
                      <p class="card-text">{{ feedback.message }}</p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
      <a class="carousel-control-prev arrows-alignment" href="#feedbackCarousel" role="button" data-slide="prev" aria-label="Previous feedback">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next arrows-alignment" href="#feedbackCarousel" role="button" data-slide="next" aria-label="Next feedback">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('#feedbackCarousel').carousel({
      interval: 7000
    })
    
    $(document).ready(function () {
      $('#feedback-icon').tooltip()
    
      let tooltipVisible = false
    
      $('#feedback-icon').on('click', function (e) {
        e.stopPropagation()
        if (!tooltipVisible) {
          $(this).tooltip('show')
          tooltipVisible = true
        } else {
          $(this).tooltip('hide')
          tooltipVisible = false
        }
      })
    
      $(document).on('click', function (e) {
        if (tooltipVisible && !$(e.target).closest('#feedback-icon').length) {
          $('#feedback-icon').tooltip('hide')
          tooltipVisible = false
        }
      })
    })
    
    $(document).ready(function () {
      const urlParams = new URLSearchParams(window.location.search);
      if (!urlParams.has('screen_width') || !urlParams.has('screen_height')) {
        const screenWidth = $(window).width();
        const screenHeight = $(window).height();
        urlParams.set('screen_width', screenWidth);
        urlParams.set('screen_height', screenHeight);
        window.location.search = urlParams.toString();
      }
    });    

    $(document).ready(function() {
      $('#submitFeedback').on('click', function() {
          var form = $('#feedback_form_id'); 
          if (form.length) { 
              form.submit();
          } else {
              console.error("Form error");
          }
      });
    });
  </script>
{% endblock %}
