<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Portfolio{% endblock %}</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% load static %}
</head>
<body>
    <header>
     
     
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'home' %}">Caio Kormives</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About Me</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'crypto_prices' %}">Crypto Prices</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'feedback_suggestions' %}">Feedback & Suggestions</a>
                </li>
              </ul>
              <span class="navbar-text">
                Welcome to My Portfolio
              </span>
            </div>
          </nav>
          
    </header>

    <main>
        {% block content %}
        <!-- content from htmls -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 My Portfolio</p>
    </footer>

    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    {% bootstrap_javascript %}
</body>
</html>
