{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  About Me - Portfolio Caio Kormives
{% endblock %}

{% block style %}
<style>
  .responsive-heading { font-family: serif; font-weight: bold; font-size: 7vw; }

  @media (max-width: 2559px) { .responsive-heading { font-size: 6vw; } }

  @media ( max-width: 1441px) { .responsive-heading { font-size: 8.5vw; } }

  @media ( max-width: 1025px) { .responsive-heading { font-size: 9.5vw; } }

  @media ( max-width: 900px) { .responsive-heading { font-size: 10vw; } }

  @media ( max-width: 600px) { .responsive-heading { font-size: 12vw; } }

  @media ( max-width: 400px) { .responsive-heading { font-size: 12vw; } }
 

  .section-title { border-left: 5px solid #008e72; padding-left: 10px; }
  .parent_container{background-color: #e5dac8; max-width: 95%; margin: auto; height: auto; min-height: 90.5vh;  color: #008e72;}
  .flx-max-wdth{max-width: inherit;}
  .clmn_sizes{max-width: 110vh; min-height: 75vh;}
  .rw{justify-content: space-around; align-items: center}
  .first_name{font-family: serif;}
  .last_name{position: relative; font-family: serif; z-index: 1;}
  .bold{font-weight: bold;}
  .img_col{height: 100%; display: flex; align-items: center;}
  .imgtg{width: 100%; height: 100%; object-fit: cover;}
  .green-clr{background: #008e72;}
  .p{padding: 1rem 0 0 1rem;}
  .exp{max-width: 66vh; min-height: 80vh; margin-inline: 3vh;}
  @media (max-width: 600px) { .exp {margin-inline: 2vh; }  .img_col{display: none;} .rw{align-items: center;} .col-8{flex: 0 0 83.333333%;
    max-width: 83.333333%;} }

  .exp_rw{min-height:30vh}
  .exp_rw_sn{min-width: -webkit-fill-available;}
</style>
{% endblock %}

{% block content %}
  <div class="parent_container p-3 my-3 d-flex flex-wrap justify-content-center" data-aos="fade-up" data-aos-delay="100">
    <div class="d-flex flex-wrap flx-max-wdth" data-aos="fade-up" data-aos-delay="100">
        <div class="clmn_sizes col-md-9 col-lg-8">
          <div class="p-2 bg-light rounded">
            <div class="row rw">
              <div class="col-8">
                <h6 class="display-4 first_name">Caio</h6>
                <h1 class="display-2 responsive-heading last_name" >KORMIVES</h1>

                <h4 class="bold">{% trans 'about_title_function' %}</h4>
                <p class="text-justify">{% trans 'about_description' %}</p>
              </div>
              <div class="col-3 img_col">
                <img src="https://drive.google.com/thumbnail?id=1PEbqAIJlQ0fqyWIvpu09lMganxwwNrmw" alt="Profile" class="img-fluid rounded imgtg" />
              </div>
            </div>
          </div>

          <div class="p-2 bg-light rounded mt-3 mb-4">
            <hr class="my-3 green-clr" />
            <div class="text-center mb-3">
              <p>
                <span>LinkedIn.com/in/caio-kormives</span>&nbsp;&nbsp;&nbsp;
                <span>48 9 9845-9412</span>&nbsp;&nbsp;&nbsp;
                <span>cwkormives@gmail.com</span>
              </p>
              <p>
                <span>20/05/2003</span>&nbsp;&nbsp;&nbsp;
                <span>Florianópolis, SC, Brasil</span>
              </p>
            </div>
            <hr class="my-3 green-clr"/>
          </div>

          <div class="row mt-3">
            <div class="col-md-6 col-sm-12 mb-4 d-flex">
              <div class="p-3 bg-light rounded flex-fill">
                <h5 class="font-weight-bold">{% trans 'about_language_title' %}</h5>
                <ul class="list-unstyled">
                  <li>
                    <strong>{% trans 'about_language_description_title' %}</strong>
                    {% trans 'about_language_description_descriptions' %}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-4 d-flex">
              <div class="p bg-light rounded flex-fill" >
                <h5 class="font-weight-bold">{% trans 'about_hability_title' %}</h5>
                <ul>
                  <li>.NET/C#, REACT, JS/TS, Python</li>
                  <li>JAVA, C, HTML5, CSS3, PostgreSQL, MySQL </li>
                  <li>VS, VSCODE, Azure, AWS, Dbeaver, SSMS, CI/CD, Docker</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="exp col-md-9 col-lg-8 rounded">
          <div class="row rounded exp_rw" >
            <div class="p-3 bg-light rounded xp_rw_sn">
              <h4 class="font-weight-bold section-title mt-2"> {% trans 'about_professional_experience' %}</h4>
              <p>
                <strong>Tech6 Group Ltda</strong>
              </p>
              <p>
                <strong> {% trans 'about_title_function' %} Jr</strong> - ( {% trans 'about_professional_experience_first_date' %})
              </p>
              <p>
                {% trans 'about_professional_experience_first_description' %}
              </p>
          
              <h4 class="font-weight-bold section-title mt-4">{% trans 'about_education_title' %}</h4>
              <p class="mt-2">
                <strong>{% trans 'about_education_title_first_title' %}</strong>
              </p>
              <p>SENAI - ({% trans 'about_education_title_first_date' %})</p>
              <p>{% trans 'about_education_title_first_description' %}</p>
              <p class="mt-2">
                <strong>{% trans 'about_education_title_second_title' %}</strong>
              </p>
              <p>SENAI - ({% trans 'about_education_title_second_date' %})</p>
              <p class="mb-4">{% trans 'about_education_title_second_description' %}</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}